.container {
    max-width: 1024px;
    margin: auto;
}

.cardAction {
    display: flex !important;
    justify-content: left !important;
}

.cardMedia {
    width: 50px !important;
    display: flex !important;
    flex-direction: column !important;
}